.main-image {
  background-image: url(../images/burger.gif);
  background-position: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(../images/burger-background.jpg);
  height: 100%;
}

.eat-da{
  text-align: center;
  color: red;
}

li {
  padding: 5px;
  background: #faebd7;
}

.create-form {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.form {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}