.main-image {
  background-image: url(../images/burger.gif);
  background-position: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: rgb(226, 226, 55);
}
.eat-da{
  text-align: center;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-form {
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
