.main-image {
  background-image: url(../images/burger.gif);
  background-position: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(226, 209, 55);
}

.eat-da{
  text-align: center;
  color: red;
}

.column{
  float: left;
  width: 50%;
}

li {
  padding: 5px;
  margin-right: 50%;
  background: #faebd7;
}

.create-form {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.form {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}